.wifi-bg-img {
	filter: opacity(5%) blur(10px);
}

@keyframes wifi-2 {
	from {
		filter: invert(0%) opacity(100%);
	}

	to {
		filter: invert(100%) opacity(90%);
	}
}

.wifi-txt img {
	animation: wifi-2 2s;
	animation-fill-mode: forwards;
}

.wifi-foot {
	display: flex;
	flex-direction: column;
}

a:link {
	color: #bdbdbd;
}

a:visited {
	color: #bdbdbd;
}

a:hover {
	color: #bdbdbd;
}

a:active {
	color: #bdbdbd;
}

@keyframes wifi-3 {
	from {
		filter: invert(0%) opacity(100%);
	}

	to {
		filter: invert(100%) opacity(90%);
	}
}

.wifi-face img {
	animation: wifi-3 2s;
	animation-fill-mode: forwards;
}

.wifi-link-img {
	height: 70px;
}

@keyframes wifi-4 {
	from {
		color: #3e3e3e;
	}

	to {
		color: #bdbdbd;
	}
}

.linktxt {
	animation: wifi-4 2s;
	animation-fill-mode: forwards;
}

@keyframes wifi-9 {
	from {
		filter: brightness(100%);
	}

	to {
		filter: brightness(90%);
	}
}

.wifi-link img {
	animation: wifi-9 2s;
	animation-fill-mode: forwards;
}

.wifi-link:hover {
	opacity: 0.8;
}

@keyframes wifi-5 {
	from {
		background: #efefef;
	}

	to {
		background: #424242;
	}
}

.wifi-line {
	animation: wifi-5 2s;
	animation-fill-mode: forwards;
}

@keyframes wifi-6 {
	from {
		color: #3e3e3e;
		background: #ffffff00;
		border-color: #e2e2e2;
	}

	to {
		color: #cacaca;
		background: #00000078;
		border-color: #5d5d5d00;
	}
}

.wifi-text {
	display: flex;
	font-size: 16px;
	letter-spacing: 0.78px;
	text-align: center;
	line-height: 33px;
	font-weight: 300;
	border-width: 1px;
	border-style: solid;
	border-radius: 7px;
	padding: 0 15px;
	margin: 10px;
	font-family: sans-serif;
	transition: background 0.4s, border 0.4s, color 0.4s;
	transition-timing-function: cubic-bezier(0.08, 0.64, 0.41, 0.99);
	animation: wifi-6 2s;
	color: #cacaca;
	background: #00000078;
	border-color: #5d5d5d00;
}

@keyframes wifi-8 {
	from {
		border: 1px solid #efefef;
		color: #cccccc;
	}

	to {
		border: 1px solid #4a4a4a;
		color: #7d7d7d;
	}
}

.wifi-foot-link {
	padding: 0 8px;
	word-break: normal;
	height: 15px;
	border-radius: 4px;
	font-size: 9px;
	text-align: center;
	line-height: 14px;
	letter-spacing: 0.47px;
	animation: wifi-8 2s;
	animation-fill-mode: forwards;
}

@keyframes wifi-9 {
	from {
		color: #cccccc;
	}

	to {
		color: #757575;
	}
}

.wifi-copyright,
.wifi-beian {
	animation: wifi-9 2s;
	animation-fill-mode: forwards;
}

.wifi-beian-a:link {
	animation: wifi-9 2s;
	animation-fill-mode: forwards;
}

.wifi-beian-a:visited {
	animation: wifi-9 2s;
	animation-fill-mode: forwards;
}

.wifi-beian-a:hover {
	animation: wifi-9 2s;
	animation-fill-mode: forwards;
}

.wifi-beian-a:active {
	animation: wifi-9 2s;
	animation-fill-mode: forwards;
}

.wifi-beians {
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	max-width: 1250px;
	display: flex;
	margin: 0 auto;
}

@keyframes wifi-7 {
	from {
		filter: brightness(100%);
	}

	to {
		filter: brightness(55%);
	}
}

.wifi-url1 {
	height: 17px;
	margin-top: 8px;
	margin-right: 8px;
	animation: wifi-7 2s;
	animation-fill-mode: forwards;
}

.wifi-url2 {
	height: 17px;
	margin-top: 8px;
	margin-left: 8px;
	animation: wifi-7 2s;
	animation-fill-mode: forwards;
}