html.dark-mode .wifi-bg-mask {
    opacity: 0;
}

html.dark-mode .wifi-bg-mask-night {
    opacity: 1;
}

html.dark-mode .wifi-txt img,
html.dark-mode .wifi-face-wifi img {
    filter: invert(100%) opacity(90%);
}

html.dark-mode .linktxt {
    color: #bdbdbd;
}

html.dark-mode .wifi-text a,
html.dark-mode .wifi-text-qr-text a {
    color: inherit;
}

html.dark-mode a.wifi-text:link,
html.dark-mode a.wifi-text:visited,
html.dark-mode a.wifi-text:active,
html.dark-mode a.wifi-text-qr-text:link,
html.dark-mode a.wifi-text-qr-text:visited,
html.dark-mode a.wifi-text-qr-text:active {
    color: #ffffffa3;
}

html.dark-mode .wifi-link img {
    filter: brightness(90%);
}

html.dark-mode .wifi-link:hover {
    opacity: 0.8;
}

html.dark-mode .wifi-line {
    background-color: #ffffff14;
}

html.dark-mode .wifi-text,
html.dark-mode .wifi-text-qr-text {
    color: #ffffffa3;
    background: #00000052;
    border-color: #0000002e;
}

html.dark-mode .wifi-text:hover,
html.dark-mode .wifi-text-qr-text:hover {
    background: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}

html.dark-mode .wifi-text img,
html.dark-mode .wifi-text-qr-text img {
    filter: brightness(0.7);
}

html.dark-mode .wifi-text:hover img,
html.dark-mode .wifi-text-qr-text:hover img {
    filter: brightness(1);
}

html.dark-mode .wifi-foot-link {
    border: 1px solid #ffffff14;
    color: #ffffff38;
}

html.dark-mode .wifi-copyright,
html.dark-mode .wifi-beian,
html.dark-mode .wifi-beian-a {
    color: #ffffff38;
}
