/*
 * Change By: @CSGO
 * ----The following is the original author information, I just modified it to be more suitable for myself.----
 * V2EX CSS THEME:  LIGHTER - BLACK VERTION
 * BY:     @jkjoke
 * THANKS: @yanleijava @abelyao @zzutmebwd
 *         @kookxiang @DearTanker @picasso250
 *         @ceoimon @o00o
 * UPDATE: 2018.11.14 09:00
 */
#q {
color: bisque;
}
#Logo {
    background-image: url(//wangyifang.com/share/v2ex-dark/v2ex@2x.png)!important;
    margin-left: -1.5rem;
}
#qbar {
    background-image: url(//wangyifang.com/share/v2ex-dark/qbar_dark@2x.png)!important;
    color: #aaa!important;
}
#Main {
    width: auto;
    margin: 0 285px 0 0;
}
#Main td:nth-child(1) img.avatar {
    width: 28px;
    height: 28px;
    margin-top: 0;
    margin-bottom: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#Main div[id*=r_].cell img.avatar {
    width: 32px;
    height: 32px;
}
#Main .cell table tr td:nth-child(3), #Main .cell table tr td:nth-child(4) {
    min-height: 60px;
    padding-top: 8px;
}
#Main .box:nth-child(2) .small {
    display: none;
}
#Main .box:nth-child(2) .cell:nth-child(2) {
    padding: 15px 28px!important;
}
#Main .box:nth-child(2) .cell:nth-child(n+2), #Main .cell {
    color: #888;
    padding: 5px 20px 7px 23px;
}
#Main div[id*=r_].cell table tr td:nth-child(1), #Main div[id*=r_].cell table tr td:nth-child(3) {
    padding-top: 10px;
}
#Main .cell table tr td:nth-child(1) {
    padding-top: 10px;
}
#Main .box .cell, #Rightbar .box .cell {
    border-bottom: 0;
}
#Rightbar {
    margin-right: 0!important;
}
#Rightbar .box .cell {
    border-bottom: 0;
    color: #888;
}
#Rightbar .box, #Rightbar .inner {
    background: #3c3d3e;
}
.inner{
    color: #efefef;
}

#Rightbar div.cell:nth-child(2) div {
    background-color: #343536!important;
}
#Rightbar div.cell:nth-child(2) div:empty {
    background-color: #698bad!important;
}
#Rightbar div.cell:nth-child(2) div.sep10 {
    background-color: transparent!important;
}
#Rightbar div:nth-child(2) .cell:first-child table:nth-child(1) tr td:nth-child(1) {
    text-align: center;
}
#Rightbar div:nth-child(2) .cell:first-child table:nth-child(1) tr td:nth-child(2), #Rightbar div:nth-child(2) .cell:first-child table:nth-child(1) tr td:nth-child(3), .sep20, img[src*="flat_compose.png"] {
    display: none;
}
#Rightbar div:nth-child(2) .cell:first-child table:nth-child(1) tr td:nth-child(1) img.avatar {
    width: 80px;
    height: 80px;
    max-width: 80px!important;
    max-height: 80px!important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: 15px;
}
#Rightbar div:nth-child(2) .cell:first-child table:nth-child(3) {
    padding-bottom: 15px;
    padding-top: 15px;
}
#TopicsHot img.avatar {
    border-radius: 50%
}
#Top {
    background: #343536;
    height: 100%;
    background-image: none;
    border: 0;
}
#Top table tr td:nth-child(3) {
    padding-top: 0!important;
    height: 50px;
    width: 620px;
}
#Top table tr td:nth-child(3) a:last-of-type {
    margin-right: -1.1rem;
}
#Wrapper {
    background-color: #343536;
    padding-top: 5px;
    padding-bottom: 50px;
    background-image: none;
}
#Bottom {
    background: #343536;
    border: 0;
}
#Bottom .sep20 {
    display: block;
}
#SecondaryTabs {
    background: #555;
}
#Tabs {
    background: #444;
}
#Tabs a.tab, #Tabs a.tab_current {
    color: #888;
    width: 52px;
    text-align: center;
    line-height: 36px!important;
    display: inline-block;
    padding: 0!important;
    border-radius: 4px!important;
    border: 1px solid transparent;
    -webkit-transition: border-color .15s ease-in-out, background-color .25s ease-in-out;
    -moz-transition: border-color .15s ease-in-out, background-color .25s ease-in-out;
    transition: border-color .15s ease-in-out, background-color .25s ease-in-out;
}
#Tabs a.tab_current {
    background-color: #3e3e3e!important;
    color: #aaa;
    border: 1px solid #666;
    line-height: 36px;
    height: 36px;
}
#Tabs a:hover {
    color: #84a9fd;
    background: #3e3e3e;
    border: 1px solid #666;
}
#compose div[style*=text] {
    border-bottom: 0!important;
}
#MyNodes {
    background: #444;
}
.grid_item {
    background: 0 0;
}
.reply_content a:active, .reply_content a:link, .reply_content a:visited, .topic_content a:active, .topic_content a:link, .topic_content a:visited {
    color: #74b182;
}
.header {
    color: #f3f3f3;
    border-bottom: 1px solid #555;
    padding-bottom: 20px;
    padding-left: 90px;
    position: relative;
}
.header h1 {
    color: #f3f3f3;
    margin-right: 20px;
}
.header h1 {
    margin-bottom: 0!important;
}
.header img.avatar {
    min-width: 0!important;
    width: 3rem;
    position: absolute;
    left: 1.2rem;
    top: .9rem;
}
.header a[href="/"] {
    position: absolute;
    left: 1.3rem;
}
.header .chevron {
    position: absolute;
    left: 4.3rem;
    top: .5rem;
}
.select2-container--default .select2-selection--single {
    border: 0;
    background: #343536;
}
.CodeMirror-scroll {
    background: #2e2e2e;
    color: #f3f3f3;
}
.CodeMirror-gutters {
    border-right: 1px solid #333;
    background-color: #3e3e3e;
}
.msl,.msl:focus {
    background-color: #343536;
    color: #f3f3f3;
}
.subtle {
    background-color: #3e3e3e;
    border-left: 3px solid #6fa8e0;
    border-bottom: 1px solid #343536;
}
.thanked {
    background-color: #343536;
    color: #666;
    font-size: .8em;
}
.cell_tabs {
    border-bottom: 1px solid #343536;
}
.page_normal:active, .page_normal:link, .page_normal:visited {
    background: #343536;
    border: #555;
}
.page_current {
    background: #666;
    border: #fff;
}
.page_input {
    background: #343536;
    border: #555;
    color: #888;
}
.dock_area {
    background-color: #444;
    background-image: none;
}
.payload {
    background-color: #343536;
    padding: 10px
}
.sl {
    background: #343536;
    border: 1px solid #555;
    color: #e0e0e0;
}
.ml {
    background: #343536;
    border: 1px solid #555;
    color: #888;
}
.mll {
    margin: 10px 10px 10px 0;
    width: 100%;
    background: #343536;
    border: 1px solid #555;
    color: #888;
}
.mle {
    background: #343536;
    border: 1px solid #555;
    color: #888;
}
.sll {
    background: #343536;
    border: 1px solid #555;
    color: #888;
}
.item_title {
    text-shadow: 0 1px 0 #444!important;
}
.topic_info {
    display: none;
    color: #666;
}
.box {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #333;
    margin-bottom: -1px;
    background: #444;
}
.box .inner {
    border-radius: 0;
}
.cell {
    border-bottom: 1px solid #343536;
}
.cell table tr td:nth-child(3) a[href="/new"] {
    padding: 7px 20px;
    background: #343536;
    border-radius: 20px;
    margin: 20px 78px 0 0;
    float: right;
    margin-bottom: 20px;
}
.cell>table {
    table-layout: fixed;
}
.fade {
    color: #aaa;
}
.inner {
    color: #999;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item_title {
    padding-top: 10px;
}
.no {
    color: #666;
    padding: 5px 4px;
    background: #343536;
}
.snow {
    color: #ccc;
}
.topic_content {
    color: #f3f3f3c2;
    margin-bottom: 20px;
    font-weight: 900;
}
.reply_content {
    color: #f3f3f3ad;
    font-weight: 900;
}
.topic_buttons {
    background: #3c3c3c;
}
.super.button {
    background-image: none!important;
    opacity: .7;
    padding: 4px 8px 4px 8px!important;
}
.item_hot_topic_title {
    text-shadow: 0 1px 0 transparent!important;
}
.cell a.thank, .inner a.thank {
    color: #888!important;
}
.cell:hover a.thank:hover, .inner:hover a.thank:hover {
    background-color: #444;
    text-decoration: none;
}
.balance_area, a.balance_area:link, a.balance_area:visited {
    color: #888;
    text-shadow: 0 1px 0 transparent!important;
}
.tag:link, .tag:visited {
    background: 0 0;
}
.topic_stats {
    text-shadow: 0 1px 0 transparent!important;
}
.sidebar_units {
    color: #b1b1b1;
}
.vote, .vote:link, .vote:visited {
    border: 1px solid #555;
}
.ago {
    color: #666;
}
.outdated {
    background-color: #343536;
    border-left: 5px solid #73a9e8;
    border-bottom: 0;
}
.hljs {
    background: #343536;
    color: #888;
}
.showReply {
    border-top: 1px solid #555!important;
}
.topicBTN {
    background: #343536;
    border: 1px solid #555;
}
.replyBTN {
    background: #343536;
    border: 1px solid #555;
}
.data {
    color: #b1b2b3;
}
.cell a.thank:hover, .direct:hover, .inner a.thank:hover, .replyBTN:hover, .replyDetailBTN:hover, .topicBTN:hover {
    color: #73a9e8!important;
}
.direct, .replyDetailBTN {
    background: 0 0!important;
}
body {
    background: #343536;
}
a.count_blue:visited, a.count_green:visited, a.count_livid:visited, a.count_orange:visited {
    background: #d2b431;
}
a.op:active, a.op:link, a.op:visited {
    background: #343536;
    border: 1px solid #555;
}
a.dark:active, a.dark:link, a.dark:visited {
    color: #aaa;
}
a.tb:active, a.tb:link, a.tb:visited {
    color: #888;
}
a.tb:hover {
    background-color: rgba(0,0,0,.3);
    color: #84a9fd;
}
a.count_livid:active, a.count_livid:link {
    color: #888;
    background: #343536;
}
a:active, a:link, a:visited {
    color: #f3f3f3cc!important;
    text-shadow: none!important;
    font-weight: 900;
}
a.top:link, a.top:visited {
    color: #f3f3f3;
    font-size: 14px;
}
a.top:hover {
    color: #333;
}
a.node:active, a.node:link, a.node:visited {
    background: #343536;
    padding: 6px;
}
.balance_area, a.balance_area:link, a.balance_area:visited {
    background: #343536;
}
a.item_node {
    background: #343536;
    border: 1px #555 solid;
    color: #666;
}
a:hover {
    color: #84a9fd!important;
    -webkit-transition: color .25s ease-in-out, color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out, color .25s ease-in-out;
    transition: color .25s ease-in-out, color .25s ease-in-out;
    text-decoration: none;
}
ol li, ul li {
    COLOR: #b1b2b3;
}
div[id*=r_].cell table tr td:nth-child(1) {
    vertical-align: baseline!important;
}
div[id*=r_] {
    background-color: #444!important;
}
div.fr a[href*=member] img {
    margin-top: 30px;
}
td[width="32"] {
    padding-right: 20px;
}
img {
    opacity: .9;
}
img.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
select {
    background: #343536;
    color: #f5f5f5;
    border: 1px solid #555;
    padding: 3px;
}
hr {
    opacity: .2;
}
h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #555;
}
pre {
    background-color: #343536;
}
.social_label:link, .social_label:visited{
    background-color: #5a5a5a;
}

::-webkit-input-placeholder {
color:#666;
}
:-moz-placeholder {
color:#666;
opacity:1;
}
::-moz-placeholder {
color:#666;
opacity:1;
}
:-ms-input-placeholder {
color:#666;
}
::-ms-input-placeholder {
color:#666;
}
::-webkit-scrollbar {
width:8px;
height:8px;
}
::-webkit-scrollbar-thumb {
border-radius:5px;
//-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.2);
background:rgba(255, 255, 255, 0.28);
}
::-webkit-scrollbar-track {
//-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.2);
//border-radius:0;
//background:rgba(0,0,0,.1);
}
